---
import { Picture } from "astro:assets";
import heroImage from "assets/hero-draw.png";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Acerca de</Fragment>
      <Fragment slot="desc">Convertimos ideas en realidades.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">¿Qué nos distingue?</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Nuestra dedicación a la excelencia. Desde la primera línea de código hasta el lanzamiento final, nos esforzamos por superar tus expectativas y ofrecerte resultados que te llenen de orgullo.
      </p>
      <p class="text-sm leading-relaxed text-slate-400">
        Además, nuestro equipo de soporte está siempre disponible para ayudarte en cada paso del camino.
      </p>
    </div>
    <div class="flex justify-center items-center gap-10 mx-auto max-w-4xl mt-12">
      <div class="group">
        <div class="w-full aspect-square">
          <Picture
            src='/src/assets/profile.jpg'
            alt="imagen alternativa"
            sizes="(max-width: 400px) 100vw, 400px"
            width={400}
            height={400}
            class="rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
          />
        </div>

        <div class="mt-4 text-center">
          <h2 class="text-lg text-gray-800">Jeffrey Morgan</h2>
          <h3 class="text-sm text-slate-500">Fundador</h3>
          <h3 class="text-xs text-slate-400">Desarrollador Frontend</h3>
        </div>
      </div>
    </div>
  </Container>
</Layout>
