---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre nosotros</Fragment>
      <Fragment slot="desc">Convertimos ideas en realidad.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">¿Qué nos distingue?</h2>
      <p class="text-lg text-slate-500">
        Nuestra dedicación a la excelencia. Nos esforzamos por superar tus
        expectativas y ofrecerte resultados que te llenen de orgullo.
      </p>
    </div>
    <div
      class="flex justify-center items-center gap-10 mx-auto max-w-4xl mt-12">
      <div class="group">
        <div class="w-full aspect-square">
          <Picture
            src="https://i.postimg.cc/rwM2dkk4/7268-CE71-3891-4932-A404-73-D5837-EB06-C-L0-001-4-1-2024-12-52-55-PM.jpg"
            alt="imagen devjeffrey"
            loading="eager"
            sizes="(max-width: 400px) 100vw, 400px"
            width={400}
            height={300}
            class="rounded-md group:shadow-xl bg-white object-cover object-center aspect-square"
          />
        </div>

        <div class="mt-4 text-center grid gap-y-1">
          <h2 class="text-lg text-gray-800">Jeffrey Morgan</h2>
          <h3 class="text-sm text-slate-500">Creador</h3>
          <h3 class="text-xs text-slate-400">Desarrollador Web Frontend</h3>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Preguntas y Respuestas</h2>

      <h3
        class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-800 border-b border-gray-200 gap-3">
        ¿Qué servicios de desarrollo web ofreces y cómo pueden ayudar a mi
        negocio a crecer?
      </h3>
      <p class="mb-2 text-gray-500">
        Nuestra función es desarrollar en código el tipo de sitio web que
        necesites para impulsar tu presencia digital y aumentar tus clientes y
        ventas a lo largo del tiempo junto con un buen diseño y personalización
        de acuerdo a tu marca personal o empresarial.
      </p>
      <h3
        class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-800 border-b border-gray-200 gap-3">
        ¿Qué diferencias hay entre un sitio web desarrollado por ti y uno creado
        con una plantilla estándar?
      </h3>
      <p class="mb-2 text-gray-500">
        Nos ponemos en el papel del usuario final y del cliente que solicita el
        servicio, ya que así nos aseguramos que sea 100% a su idea o deseo. En
        cambio, a los sitios web muy parecidos y poco originales.
      </p>
      <h3
        class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-800 border-b border-gray-200 gap-3">
        ¿Qué consejos darías a las pequeñas empresas que recién están comenzando
        con su presencia en línea?
      </h3>
      <p class="mb-2 text-gray-500">
        Están en la mejor época para mostrar al mundo lo que saben y pueden
        ofrecer a los demás. Solo necesitan un gran empujón y saltar a lo
        moderno y digital como lo es el internet y las redes sociales. Compartan
        y ayuden a las personas.
      </p>
    </div>
  </Container>
</Layout>
