---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contacto">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Cotiza con Nosotros</Fragment>
      <Fragment slot="desc">Estamos aquí para ayudarte.</Fragment>
    </Sectionhead>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">
          Contacta a DevJeffrey
        </h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          ¿Tiene algo que decir? Estamos aquí para ayudarle. Rellene el
          formulario y envíe correo electrónico.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-6 h-6" name="uil:map-marker" />
            <span>Panamá, Panamá Oeste</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-6 h-6" name="uil:envelope" /><a
              href="mailto:mdog1525@gmail.com">mdog1525@gmail.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-6 h-6" name="uil:phone" /><a
              href="tel:+507 69701451">+507 69701451</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
