---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/services.astro";

const pricing = [
  {
    name: "Básico",
    price: {
      monthly: "$327.99",
    },
    popular: false,
    features: [
      "One Page",
      "Diseño Básico",
      "Funciones Básicas",
      "SEO",
      "2-3 semanas",
      "3 Revisiones",
    ],
    button: {
      text: "Solicitar",
      link: "https://calendly.com/mdog1525/devjeffrey",
    },
  },
  {
    name: "Comercial",
    price: {
      monthly: "$647.99",
    },
    popular: true,
    features: [
      "Landing Page",
      "Diseño único",
      "Funciones avanzadas",
      "SEO",
      "Hosting y Dominio",
      "3-4 semanas",
      "5 Revisiones",
    ],
    button: {
      text: "Solicitar",
      link: "https://calendly.com/mdog1525/devjeffrey",
    },
  },
  {
    name: "Personalizado",
    price: "A medida",
    popular: false,
    features: [
      "Sitio Web Personalizado",
      "Funciones Específicas",
      "SEO Avanzado",
      "Hosting y Dominio",
      "4-6 semanas",
      "+5 Revisiones",
    ],
    button: {
      text: "Solicitar",
      link: "https://calendly.com/mdog1525/devjeffrey",
    },
  },
];
---

<Layout title="Servicios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Servicios</Fragment>
      <Fragment slot="desc">
        Proporcionamos soluciones web para cualquier tipo de clientes y
        mercados.</Fragment
      >
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-md leading-relaxed text-slate-500">
        Ofrecemos una variedad de planes diseñados para adaptarse a tus
        necesidades específicas, ya seas un emprendedor independiente o una
        empresa en crecimiento.
      </p>
    </div>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
