---
import Container from "@components/container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Inicio",
    path: "/",
  },
  {
    title: "Portafolio",
    path: "/portafolio",
  },
  {
    title: "Acerca de",
    path: "/acerca-de",
  },
  {
    title: "Servicios",
    path: "/servicios",
  },
  {
    title: "Contacto",
    path: "/contacto",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg flex items-center justify-center">
          <img
            src="/favicon.svg"
            class="w-8 h-8 pr-1"
            alt="Logo de DevJeffrey"
          />
          <span class="font-bold text-slate-800 text-xl">New</span><span
            class="text-slate-500 text-xl">Gen</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-8 h-8 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-6 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item) => (
              <li>
                <a
                  href={item.path}
                  class="flex lg:px-3 py-2 font-medium items-center text-gray-600 hover:text-gray-900">
                  <span> {item.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
