---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Personalización",
    description:
      "Basados en nuestros modelos de ejemplo, dedicamos tiempo a la construccioó de sitios de acuerdo a las especificaciones de nuestros clientes.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "SEO Disponible",
    description:
      "Automáticamente nuestros sitios poseen SEO de alta calidad para que tus clientes o usuarios puedan encontrarte.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Seguridad",
    description:
      "Nuestros servicios incluyen asegurar el código de tu sitio o aplicación web.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para tu negocio
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    NexGen Digital toma las mejores partes de herramientas y tecnologiís para asegurarte una presencia digital que este a la vanguardia.
  </p>
</div>

<div class="grid sm:grid-cols-1 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
