---
import { Picture } from "astro:assets";
import heroImage from "assets/hero-draw.png";
---

<main class="grid lg:grid-cols-2 place-items-center py-2">
  <div class="py-6 md:block">
    <Picture
      src={heroImage}
      alt="imagen hero"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="px-6">
    <h1 class="text-4xl lg:text-5xl font-bold">
      ¡Transforma tu negocio con una página web única y personalizada!
    </h1>
    <p class="text-md mt-4 text-slate-600 font-medium max-w-xl">
      Ya sea que necesites un sitio web completo o una impactante landing page.
      Te ayudamos a mejorar tu presencia digital, atraer más clientes, aumentar
      tus ventas y promover tus productos y servicios.
      <br />
      <br />
      ¡Dale vida a tu presencia en línea con nosotros y destaca en el mundo digital!
    </p>
  </div>
</main>
