---
import { Picture } from "astro:assets";
import heroImage from "assets/hero-draw.png";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 md:pt-12">
  <div class="py-6 md:block">
    <Picture
      src={heroImage}
      alt="imagen hero"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="px-6">
    <h1
      class="text-4xl lg:text-5xl font-bold">
      Desarrollamos webs únicas y estratégicas
    </h1>
    <p class="text-md mt-4 text-slate-600 font-medium max-w-xl">
      ¿No tienes tráfico o visitas en tu web?, ¿Deseas generar más ventas?, ¿No sabes como llegar a más personas?<br/>Necesitas una web única a tu marca que se gane la confianza de los usuarios y los convierta en clientes.
    </p>
  </div>
</main>
