---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-40">
  <h2 class="text-center text-slate-500">Trabajamos con tecnologías</h2>
  <div
    class="flex gap-8 md:gap-20 md:px-4 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-10 md:h-12" name="simple-icons:googledrive" />
    <Icon class="h-10 md:h-12" name="simple-icons:framer" />
    <Icon class="h-10 md:h-12" name="simple-icons:react" />
    <Icon class="h-10 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-10 md:h-12" name="simple-icons:notion" />
    <Icon class="h-10 md:h-12" name="simple-icons:jira" />
    <Icon class="h-10 md:h-12" name="simple-icons:paypal" />
  </div>
</div>
