<div class="grid grid-cols-1 gap-10 mx-auto max-w-2xl mt-16">
  <div class="grid items-center">
    <a
      href="https://www.teamjebus.com.ar/"
      target="_blank"
      referrerpolicy="no-referrer"
      class="p-6 bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100">
      <div
        class="relative mx-auto border-gray-900 bg-gray-900 border-[8px] rounded-t-xl h-[172px] max-w-[301px] md:h-[294px] md:max-w-[512px]">
        <div class="rounded-lg overflow-hidden h-[156px] md:h-[278px] bg-white">
          <img
            src="/img/project1.png"
            class="dark:hidden h-[278px] w-full rounded-lg"
            alt="proyecto web 1"
            loading="lazy"
          />
        </div>
      </div>
      <div
        class="relative mx-auto bg-gray-800 rounded-b-xl rounded-t-sm h-[17px] max-w-[351px] md:h-[21px] md:max-w-[597px]">
        <div
          class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[56px] h-[5px] md:w-[96px] md:h-[8px] bg-white">
        </div>
      </div>

      <div class="flex flex-col justify-between p-4">
        <h5 class="mb-2 text-2xl font-bold text-gray-900">
          Team Jebus Jiu-Jitsu
        </h5>
        <p class="font-normal text-gray-700">
          Ofrece instrucción de Jiu-Jitsu Brasileño de alto nivel a la comunidad
          de Buenos Aires.
          <br />
          Desarrollado con React - Tailwind.
        </p>
      </div>
    </a>
  </div>
  <div class="grid items-center">
    <a
      href="https://calbamerica.vercel.app/"
      target="_blank"
      referrerpolicy="no-referrer"
      class="p-6 bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100">
      <div
        class="relative mx-auto border-gray-900 bg-gray-900 border-[8px] rounded-t-xl h-[172px] max-w-[301px] md:h-[294px] md:max-w-[512px]">
        <div class="rounded-lg overflow-hidden h-[156px] md:h-[278px] bg-white">
          <img
            src="/img/project2.png"
            class="dark:hidden h-[278px] w-full rounded-lg"
            alt="proyecto web 2"
            loading="lazy"
          />
        </div>
      </div>
      <div
        class="relative mx-auto bg-gray-800 rounded-b-xl rounded-t-sm h-[17px] max-w-[351px] md:h-[21px] md:max-w-[597px]">
        <div
          class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[56px] h-[5px] md:w-[96px] md:h-[8px] bg-white">
        </div>
      </div>

      <div class="flex flex-col justify-between p-4">
        <h5 class="mb-2 text-2xl font-bold text-gray-900">
          Calbamerica Camara de Litio
        </h5>
        <p class="font-normal text-gray-700">
          Impulsar el desarrollo de la primera criptomoneda del litio con
          reservas a nivel mundial atomico3.
          <br />
          Desarrollado con React - Tailwind.
        </p>
      </div>
    </a>
  </div>
  <div class="grid items-center">
    <a
      href="https://mistery-movie.vercel.app/"
      target="_blank"
      referrerpolicy="no-referrer"
      class="p-6 bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100">
      <div
        class="relative mx-auto border-gray-900 bg-gray-900 border-[8px] rounded-t-xl h-[172px] max-w-[301px] md:h-[294px] md:max-w-[512px]">
        <div class="rounded-lg overflow-hidden h-[156px] md:h-[278px] bg-white">
          <img
            src="/img/project3.png"
            class="dark:hidden h-[278px] w-full rounded-lg"
            alt="proyecto web 3"
            loading="lazy"
          />
        </div>
      </div>
      <div
        class="relative mx-auto bg-gray-800 rounded-b-xl rounded-t-sm h-[17px] max-w-[351px] md:h-[21px] md:max-w-[597px]">
        <div
          class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[56px] h-[5px] md:w-[96px] md:h-[8px] bg-white">
        </div>
      </div>

      <div class="flex flex-col justify-between p-4">
        <h5 class="mb-2 text-2xl font-bold text-gray-900">Mistery Movie</h5>
        <p class="font-normal text-gray-700">
          Las mejores peliculas en tendencia y mejor valoradas de todos los
          tiempos.
          <br />
          Desarrollado con React - React Router Dom - Tailwind - API.
        </p>
      </div>
    </a>
  </div>
</div>
